<a href="https://colab.research.google.com/github/kimdanni/python/blob/circleci-project-setup/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Life is short, You need Python**

#### https://wikidocs.net/68
#### 파이썬은 시스템 유틸리티 부터 웹 서버 데이터 분석
#### 데이터 전처리 GUI 딥러닝 등 사용되는 분야가 넓다
#### 언어 자체 문법이 매우 쉽고 간결해 진입장벽 낮음

파이썬으로 인사하는 법!

In [ ]:
print('안녕 얘들아! ^0^')

### 제곱 몫 나머지를 구해보자

In [ ]:
5 ** 2

25

In [ ]:
5 // 2

In [ ]:
5 % 2

In [ ]:
# 이런것도 있다
pow(3,4)

81

### 문자열 연산

In [ ]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)
print("*"*5)
print("*"*6)

*
**
***
****
*****
******

### 변수

In [ ]:
# 변수 이름은 나중에 내가 헷갈리지 않도록 && 다른 사람도 이해할 수 있도록 사용용도에 맞게 지정해주는 편이 나음
count = 0
count = count + 1
count

1

In [ ]:
count = 0
count = 1
# 대입 설명하고 넘어가기
count = count + 1
count

2

In [ ]:
_count = 0
count = count + 1

# 아 귀찮아!

count = 0
count += 1

print(_count, count)

0 1

###**변수 이름**
#### 문자와 숫자 _ 를 사용할 수 있음
#### 대문자와 소문자를 구분함
#### 공백은 사용할 수 없음
#### 숫자로 시작할 수 없음
#### 미리 예약된 이름은 사용할 수 없음

In [ ]:
#### 문자와 숫자 _ 를 사용할 수 있음
count = 0
_count = 1

In [ ]:
#### 대문자와 소문자를 구분함
Count = 0
count = 1
print(Count, count)

In [ ]:
#### 공백은 사용할 수 없음
c o u n t = 0
 count = 0

IndentationError: ignored

In [ ]:
#### 숫자로 시작할 수 없음
0Count = 0

SyntaxError: ignored

In [ ]:
#### 미리 예약된 이름은 사용할 수 없음
# 예약어 = 특정 기능을 수행하도록 미리 예약되어 있는 단어
True = 1
False = 0
if = 1
elif = 0

##깜짝 퀴즈

뽀야미의 몸무게는 5kg
문대의 몸무게는 10kg
차둘이의 몸무게는 100kg

뽀야미와 문대 차둘이의 몸무게를 각각 1, 2, 3 배한뒤 그 합을 출력해보자

##너무나도 소중한 **List**

In [ ]:
my_list = []
my_list

[]

In [ ]:
my_list2 = [1, -2, "hi"]
my_list2

[1, -2, 3.14]

### 값에 접근

In [ ]:
my_list2[0]

1

In [ ]:
my_list2[1]

-2

In [ ]:
my_list2[2]

3.14

In [ ]:
my_list[0]

IndexError: ignored

### Indexing

In [ ]:
my_list = list(range(10))
print(my_list)
my_list[0:1]
my_list[0:7]
my_list[-1]
my_list[-2]
my_list[:3]
my_list[3:]
#2 뒤에 3 낑가넣기
my_list[:3] + [3] + my_list[3:]
# full_slice 안에 my_list의 모든 값 넣어주자!
full_slice = my_list[:]
#역정렬
reverse_full_slice = my_list[::-1]
#띄어서 출력
my_list[0:7:2]
my_list[0::3]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 3, 6, 9]

#### list 원소 추가

In [ ]:
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [ ]:
#1 뒤에 5 넣기
a = [1,2,3]
a.insert(1,5)
a

[1, 5, 2, 3]

In [ ]:
#list를 더할 수도 있다
a = [1,2,3]
b = [4,5,6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [ ]:
#list 확장도 가능
a = [1,2,3]
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

###값 제거하기

In [ ]:
strange_list = [1, 2, 3, "hi"]
# del 키워드를 통한 삭제
del strange_list[3]
print(strange_list)

[1, 2, 3]
0

In [ ]:
strange_list = [1, 2, 3, "hi"]
# remove 메소드에 의한 삭제
# remove(찾을 아이템)
strange_list.remove(1)
strange_list

[2, 3, 'hi']

In [ ]:
strange_list = [1, 2, 3, "hi"]
# 아이템을 찾는 방법
#list.index(찾을 아이템) -> return 아이템의 위치
print(strange_list.index(1))
print(strange_list.index(2))
print(strange_list.index(3))

0
1
2

### 깜짝 퀴즈

In [ ]:
strange_list = [1, 2, 3, "hi"]
#del 로 "hi" 를 지워보자!

### 정렬 (개꿀 파이썬)

In [ ]:
# 정렬 개쉽다

num = [1, 4, 3, 5, 6, 7]
num.sort()
# sort 를 거치지 않고 그냥 바로 reverse 를 하게 된다면 7 6 4 3 4 1 이 나온다.
num.reverse()
num

[7, 6, 5, 3, 4, 1]

In [28]:
# 문자열의 경우에는 아스키 코드를 기준으로 오름 차순으로 정렬한다.
# 첫번째 문자가 서로 같을 경우에는 두번째 문자를 비교한다.
string = ["Apple", "Boanana","Boaay" ,"Candy"]
sorted(string)

string = sorted(string, key = len)
string.sort(key = len, reverse = True)
print(string)

['Boanana', 'Apple', 'Boaay', 'Candy']

In [ ]:
cards = ["A", "A", "B", "C", "C", "C", "D", "E"]
print(cards.count("A"))

2

### 조금... 어려울지도...?

In [29]:
# sorted 에 key 를 추가해줄 수 있다는 것을 배웠다
string = ["AA", "BBB", "CCCCC", "DDDD"]
print(sorted(string, key = len))

['AA', 'BBB', 'DDDD', 'CCCCC']

In [35]:
# 만약 문자열의 2번째에 있는 값을 비교하여 문자열이 빠른순서대로 정렬하고 싶다면
# 만약에 두 문자의 순서가 같다면 그 다음에는 길이로 비교한다.

string = ["AA", "BBB", "CCCCC", "DCDD"]

print(sorted(string, key = lambda x : (x[1], len(x))))

num = (lambda x, y : x + y)(10, 20)

print(num)

['AA', 'BBB', 'DCDD', 'CCCCC']
30

### 깜짝 퀴즈
문자열 s에 나타나는 문자를 큰것부터 작은 순으로 정렬해 새로운 문자열을 리턴하는 함수, solution을 완성해주세요.

s는 영문 대소문자로만 구성되어 있으며, 대문자는 소문자보다 작은 것으로 간주합니다.

### 반복문
- for

In [26]:
# for 문 사용
# for i in range(반복할 횟수):
count = 0
for i in range(10):
  count += 1
  print(i)
print("총 반복 횟수 : ", count)

0
1
2
3
4
5
6
7
8
9
총 반복 횟수 :  10

### eval()
## Eval 함수란?

In [43]:
# 문자열 덧셈
a = eval("'Life' + ' ' + 'is' + ' ' + 'Short'")
print(type(a))
a

b = eval(" 100 + 32 ")
print(type(b))
b

<class 'str'>
<class 'int'>

132

### 우리는 List 도 알고 for 문도 아니까!

In [37]:
list = ["A", "B", "C", "D", "E"]
for i in list:
  print(i)

list = ["1", "2", "3", "4"]
list = [int(num) for num in list]

print(list)

A
B
C
D
E
[1, 2, 3, 4]

While 문

In [44]:
count = 0
while count < 10:
  count += 1
  print(count)

1
2
3
4
5
6
7
8
9
10

###자료형

In [ ]:
print(type('A'))
print(type(6))
print(type(2.8))
print(type(3+4j))
print(type([1, 2, 3, 4]))
print(type((1, 2, 3, 4)))
print(type(print))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'builtin_function_or_method'>